/* ------------ Tags -------------*/
a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

h1 {
  text-align: center;
}
p { 
  padding: 0;
  margin: 0;
}

/* ---------- Utilities ----------- */
.flex {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.end {
  justify-content: flex-end;
}

.big-container {
  width: 1000px;
  margin: 10px auto;
}

.small-container {
  width: 800px;
  margin: 10px auto;
}

.icon {
  margin-left: 10px;
}

/* ---------Header Nav Bar----------- */
.header-nav {
  align-items: center;
}

.nav-link {
  font-weight: bold;
  color: black;
}

.nav-icons {
  height: 1rem;
  margin-right: 20px;
}

.logo {
  height: 3rem;
}

.media-share {
  width: 15px;
  height: 15px;
  background-color: #eee;
  border-radius: 50%;
  padding: 5px;
}

.white-icons {
  width: 30px;
  height: 30px;
}

/*----------Buttons---------------*/
.btn {
  color: white;
  background-color: #567b95;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px;
  margin-left: 5px;
  font-size: 11px;
  margin-right: 8px;
}

/*-------------Article-------------*/
.main-img {
  max-width: 1000px;
}

.s-gray {
  color: #666666;
  font-size: small;
}

.pic-credit {
  color: #888888;
  font-size: smaller;
}